{% extends "layout.html" %}

{% block body %}
<div class="p-5">
  <h2>Muokkaa {{ location.name }} -tietoja</h2>
  {% if messages %}
  <div class="mt-5">
  {% for msg in messages %}
    <div class="alert alert-primary">{{ msg }}</div>
  {% endfor %}
  </div>
  {% endif %}
  <div class="form-group p-5">
    <form method="POST", action="{{ url_for('locations_modify_one', id=location.id) }}">
      <div class="form-field-item">
        <p>Nimi: </p>
        <input
          name="name"
          value="{{ location.name }}"
          required
          maxlength=30
          autofocus
        >
      </div>
      <br>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
{% endblock %}