{% extends "layout.html" %}

{% block body %}
<div class="p-5">
  <h2>Luo uusi sijainti</h2>

  {% if messages %}
  <div class="mt-5">
  {% for msg in messages %}
    <div class="alert alert-primary">{{ msg }}</div>
  {% endfor %}
  </div>
  {% endif %}

  <div class="form-group p-5">
    <form method="POST", action="{{ url_for('locations_add_one') }}">
      <div class="form-field-item">
        <p>Nimi:</p>
        <input
          name="name"
          required
          maxlength=30
          minlength="2"
          autofocus
        >
      </div>
      <br>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
{% endblock %}