<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HuoltoKanta</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-links">
        <a href="/">Main</a>
        <a href="/executors">Huoltomiehet</a>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('actions_get_all') }}">Kaikki tehtävät</a>
        <a href="{{ url_for('targets_get_all') }}">Kohteet</a>
        <a href="{{ url_for('locations_get_all')}}">Sijainnit</a>
        <a href="{{ url_for('executors_get_one', id=current_user.id) }}">Käyttäjä: {{ current_user.name }}</a>
        <a href="{{ url_for('user_logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('user_login') }}">Login</a>
      {% endif %}
      </div>
    </div>
    <div class="content-container">
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
    </div>
  </body>
</html>
