.error-message {
  color: red;
  font-weight: 900;
  height: 5%;
  background-color: #d1d1d1;
  width: max-content;
  padding: 5px;
  margin-bottom: 1%;
  box-shadow: 5px 5px 5px rgb(65, 65, 65);
}

.error-message p {
  margin: 0;
}

.navbar {
  top: 0;
  background-color: #4f9400;
  height: 10%;
  display: flex;
}

.navbar-links {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.navbar-links a:last-child {
  float: right;
}

.navbar-links a:hover {
  background-color: black;
}
.navbar-links a {
  text-decoration: none;
  color: white;
  padding: 20px;
  float: left;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.content-container {
  margin-left: 2%;
}

.form-container {
  margin-left: 2%;
  max-width: 250px;
}

.form-field-item {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.form-field-item p {
  margin-top: 0;
}

.form-field-item:nth-child(even) {
  background-color: #d1d1d1;
}

.form-field-item:nth-child(odd) {
  background-color: #e4e4e4;
}

.tablelist tr:nth-child(even) {
  background-color: #dfdfdf;
}

.tablelist, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.tablelist th, td {
  padding: 5px;
}

.location--target-info {
  padding: 15px;
}

.link-button {
  padding: 8px;
  border: none;
  color: white;
  background-color: #4f9400;
  text-decoration: none;
  box-shadow: #d1d1d1 4px 4px 4px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.link-button:hover {
  box-shadow: none;
}

.alert {
  color: black;
  background-color: rgb(214, 214, 46);
}

.danger {
  background-color: rgb(255, 70, 70);
}

