.error-message {
  color: red;
  font-weight: 900;
  height: 5%;
  background-color: #d1d1d1;
  width: max-content;
  padding: 5px;
  margin-bottom: 1%;
  box-shadow: 5px 5px 5px rgb(65, 65, 65);
}

.error-message p {
  margin: 0;
}

.navbar {
  top: 0;
  background-color: #4f9400;
  height: 10%;
  display: flex;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.navbar-links li {
  float: left;
  padding: 20px;
}

.navbar-links li:last-child {
  float: right;
}

.navbar-links li:hover {
  background-color: black;
}
.navbar-links li a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
}

.content-container {
  margin-left: 2%;
}

.form-container {
  margin-left: 2%;
  max-width: 250px;
}

.form-field-item {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.form-field-item p {
  margin-top: 0;
}

.form-field-item:nth-child(even) {
  background-color: #d1d1d1;
}

.form-field-item:nth-child(odd) {
  background-color: #e4e4e4;
}

.tablelist tr:nth-child(even) {
  background-color: #dfdfdf;
}

.tablelist, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.tablelist th, td {
  padding: 5px;
}

.location--target-info {
  padding: 15px;
}

