{% extends "layout.html" %}

{% block body %}
<div class="p-5">
  <h2>Muokkaa {{ target.name }} -tietoja</h2>

  {% if messages %}
  <div class="mt-5">
  {% for msg in messages %}
    <div class="alert alert-primary">{{ msg }}</div>
  {% endfor %}
  </div>
  {% endif %}

  <div class="form-group p-5">
    <form method="POST", action="{{ url_for('targets_modify_one', id=target.id) }}">
      <div class="form-field-item">
        <p>Nimi: </p>
        <input
          name="name"
          required
          value="{{ target.name }}"
          maxlength=20
          minlength="2"
          autofocus
        >
      </div>
      <div class="form-field-item">
        <p>Valitse sijainti:</p>
        <select name="location">
          {% for item in locations %}
          <option
            value="{{ item.id }}"
            {% if target.location_id == item.id %} selected {% endif %}
          >{{ item.name }}</option>
          {% endfor %}
        </select>
      </div>
      <br>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
{% endblock %}