{% extends "layout.html" %}

{% block body %}
<div>
  <h3>{{ target.target_name }}</h3>
  <a class="link-button alert" href="{{ url_for('targets_edit', id=target.target_id) }}">Muokkaa</a>
  <a class="link-button danger" href="{{ url_for('targets_delete_one', id=target.target_id) }}">Poista</a>
  <div class="target--location-info">
    <h4>Sijainti:</h4>
    <p>{{ target.location_name }}</p>
  </div>
  <div class="target--action-info">
    <h4>{{ target.target_name }} liittyvät Tehtävät:</h4>
    <div class="target--individual-action">
      <table class="tablelist">
        <tr>
          <th>Nimi</th>
          <th>Deadline</th>
          <th>Kuvaus</th>
          <th>Status</th>
        </tr>
      {% for item in actions %}
        <tr>
          <td>{{ item.action_name }}</td>
          <td>{{ item.action_due }}</td>
          <td>{{ item.action_desc }}</td>
          <td>{{ item.action_done }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}