{% extends "layout.html" %}

{% block body %}
  <div>
    <h3>{{ executor.name }}</h3>
    <p>{{ executor.title }}</p>
    <a class="link-button alert" href="{{ url_for('executors_edit', id=executor.id) }}">Muokkaa käyttäjän tietoja</a>
    <a class="link-button danger" href="{{ url_for('executors_delete_one', id=executor.id) }}">Poista käyttäjä</a>
    <div class="executor--actions">
      <h4>Omat tehtävät:</h4>
      <p>Tehdyt: {{ amounts.done }} Tekemättömät: {{ amounts.undone }}</p>
      <div class="executor--individual-action">
        <table class="tablelist">
          <tr>
            <th>Nimi</th>
            <th>Deadline</th>
            <th>Kuvaus</th>
            <th>Status</th>
          </tr>
        {% for item in actions %}
          <tr>
            <td><a href="{{ url_for('actions_get_one', id=item.action_id) }}">{{ item.action_name }}</a></td>
            <td>{{ item.action_due }}</td>
            <td>{{ item.action_desc }}</td>
            <td>{{ item.action_done }}</td>
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}