{% extends "layout.html" %}

{% block body %}
  <div class="p-5">
    <h3>{{ executor.name }}</h3>
    <p>{{ executor.title }}</p>
    <a class="btn btn-warning" href="{{ url_for('executors_edit', id=executor.id) }}">Muokkaa käyttäjän tietoja</a>
    <a class="btn btn-danger" href="{{ url_for('executors_delete_one', id=executor.id) }}">Poista käyttäjä</a>
    <div class="p-5">
        <h4>Omat tehtävät:</h4>
        <div class="p-5">
        <p>Tehdyt: {{ amounts.done }} Tekemättömät: {{ amounts.undone }}</p>
        <div class="list-group">
          <div class="list-group-item">
            <span class="">Nimi:</span>
            <span class="">Deadline</span>
            <span class="">Status</span>
            <span class="">X</span>
          </div>
        {% for item in actions %}
        <div class="list-group-item pr-0 py-0">
          <div class="p-0 m-0" onclick="window.location=`{{ url_for('actions_get_one', id=item.action_id) }}`">
            <span>{{ item.action_name }}</span>
            <span class="right">{{ item.action_due }}</span>
            <a href="{{ url_for('actions_delete_one', id=item.action_id) }}" class="btn btn-danger float-right py-0">Poista</a>
            <a href="{{ url_for('executors_toggle_done_from_own_list', e_id=executor.id, a_id=item.action_id) }}" class="btn {{ 'btn-warning' if not item.action_done }} float-right py-0">status</a>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}