{% extends "layout.html" %}

{% block body %}
<div class="p-5">
<h2>Lisää uusi työntekijä</h2>
{% if msg %}
<div class="alert alert-primary">{{ msg }}</div>
{% endif %}
<div class="form-group p-5">
  <form method="POST", action="{{ url_for('executors_add_one') }}">
    <div class="form-field-item">
      <p>Nimi:</p>
      {{ form.name }}
    </div>
    {% for msg in form.name.errors %}
      <div class="alert alert-primary">{{ msg }}</div>
      {% endfor %}
    <div class="form-field-item">
      <p>Titteli:</p>
      {{ form.title }}
    </div>
    {% for msg in form.title.errors %}
      <div class="alert alert-primary">{{ msg }}</div>
      {% endfor %}
    <div class="form-field-item">
      <p>Salasana:</p>
      {{ form.pword }}
    </div>
    {% for msg in form.pword.errors %}
      <div class="alert alert-primary">{{ msg }}</div>
      {% endfor %}
    <div class="form-field-item">
      <p>Salasana uudelleen:</p>
      {{ form.pwordagain }}
    </div>
    {% for msg in form.pwordagain.errors %}
      <div class="alert alert-primary">{{ msg }}</div>
      {% endfor %}
    <br>
    <button class="btn btn-success">Submit</button>
  </form>
</div>
</div>
{% endblock %}