{% extends "layout.html" %}

{% block body %}
<h2>Lisää uusi työntekijä</h2>
<div class="form-container">
  <form method="POST", action="{{ url_for('executors_add_one') }}">
    <div class="form-field-item">
      <p>Nimi:</p>
      <input
        name="name"
        required
        maxlength=20
        minlength="2"
        autofocus
      >
    </div>
    <div class="form-field-item">
      <p>Titteli:</p>
      <input
        name="title"
        required
        maxlength=30
      >
    </div>
    <div class="form-field-item">
      <p>Salasana:</p>
      <input
        name="pword"
        required
        maxlength="20"
        minlength="4"
        type="password"
      >
    </div>
    <div class="form-field-item">
      <p>Salasana uudelleen:</p>
      <input
        name="pwordagain"
        required
        maxlength="20"
        minlength="4"
        type="password"
      >
    </div>
    <br>
    <button>Submit</button>
  </form>
</div>
{% endblock %}