{% extends "layout.html" %}

{% block body %}
<div class="m-5">
  <h2>Toimenpiteet</h2>
  <a class="btn btn-success" href="{{ url_for('actions_new') }}">Lisää uusi</a>
  <div class="p-5">
    <table class="table">
        <tr>
          <th>Nimi</th>
          <th>Deadline</th>
          <th>Kuvaus</th>
          <th>Status</th>
          <th></th>
        </tr>
      {% for item in actions %}
        <tr onclick="window.location=`{{ url_for('actions_get_one', id=item.id) }}`">
          <td><a href="{{ url_for('actions_get_one', id=item.id) }}">{{ item.name }}</a></td>
          <td>{{ item.due.strftime('%d.%m.%Y') }}</td>
          <td>{{ item.desc }}</td>
          <td>
            <a
              class="btn {{ 'btn-success' if item.done else 'btn-warning' }} py-0"
              href="{{ url_for('actions_toggle_from_list', id=item.id) }}"
            >
              {{ 'TEHTY' if item.done else 'KESKEN'}}
            </a>
          </td>
          <td><a class="btn btn-danger py-0 float-right" href="{{ url_for('actions_delete_one', id=item.id) }}">Poista</a></td>
        </tr>
      {% endfor %}
      </table>
  </div>
</div>
{% endblock %}