{% extends "layout.html" %}

{% block body %}
<div class="p-5">
  <h3>{{ data.action_name }}</h3>
  <div class="p-5">
    <table class="table">
      <tr>
        <th scope="row">Kuvaus</th>
        <td>{{ data.action_desc }}</td>
      </tr>
      <tr>
        <th scope="row">Deadline</th>
        <td>{{ data.action_due }}</td>
      </tr>
      <tr>
        <th scope="row">Status</th>
        <td>
          <a
            class="btn {{ 'btn-success' if data.action_done else 'btn-warning' }} py-0"
            href="{{ url_for('actions_toggle_done', id=data.action_id) }}"
          >
            {{ 'TEHTY' if data.action_done else 'KESKEN'}}
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">Kohde</th>
        <td>
          <a href="{{ url_for('targets_get_one', id=data.target_id) }}">
            {{ data.target_name }}
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">Sijainti</th>
        <td>
          <a href="{{ url_for('locations_get_one', id=data.location_id) }}">
            {{ data.location_name }}
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">Tekijät</th>
        <td>
          <a href="{{ url_for('executors_get_one', id=data.executor_id) }}">
            {{ data.executor_name }}
          </a>
        </td>
      </tr>
    </table>
    <a
      class="btn {{ 'btn-warning' if data.action_done else 'btn-success'}}"
      href="{{ url_for('actions_toggle_done', id=data.action_id) }}"
    >
      {{'Merkitse Keskeneräiseksi' if data.action_done else 'Merkitse Tehdyksi'}}
    </a>
    <div class="float-right">
      <a
        class="btn btn-warning"
        href="{{ url_for('actions_edit', id=data.action_id) }}"
      >
        Muokkaa
      </a>
      <a
        class="btn btn-danger"
        href="{{ url_for('actions_delete_one', id=data.action_id) }}"
      >
        Poista
      </a>
    </div>
  </div>
</div>
{% endblock %}