{% extends "layout.html" %}

{% block body %}
<div>
  <h3>{{ data.action_name }}</h3>
  <p>{{ data.action_desc }}</p>
  <p>{{ data.action_due }}</p>
  <p>{{ data.action_done }}</p>
  <p>Tehtävän kohde: {{ data.target_name }}</p>
  <p>Kohteen sijainti: {{ data.location_name }}</p>
  <p>Tehtävän tekijät: {{ data.executor_name }}</p>
  <a href="{{ url_for('actions_edit', id=data.action_id) }}">Muokkaa</a>
  <a href="{{ url_for('actions_delete_one', id=data.action_id) }}">Poista</a>
</div>
{% endblock %}